:root {
  --primere-text: #757575;
  --title: #212121;
  --secondary: #ffffff;
  --background: #2f303a;
  --background-team: #f5f4fa;
  --accent: #2196f3;
  --address-contact: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --border-secondary-color: #eeeeee;
  --background-hero: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primere-text);
  background-color: var(--secondary);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.page-header {
  max-width: 1600px;
  border-bottom: 1px solid var(--border-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* шапка сайта */

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .nav-logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-list {
  display: flex;
}

.nav-list .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-list .nav-item + .nav-item {
  margin-left: 50px;
}
.nav-contacts-list {
  display: flex;
  margin-left: auto;
}

.nav-logo {
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);
}
.accent {
  color: var(--title);
}

.nav-item > .active {
  color: var(--accent);
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title);
}
.nav-text {
  margin-left: 10px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.nav-contacts-item + .nav-contacts-item {
  margin-left: 50px;
}
.nav-contacts-item .nav-link {
  color: var(--primere-text);

  padding-bottom: 32px;
  padding-top: 32px;
}

.nav-contacts-item .nav-link:focus,
.nav-contacts-item .nav-link:hover {
  color: var(--accent);
}

.nav-contacts-item .icon {
  fill: var(--primere-text);
}

.nav-contacts-item:focus .icon,
.nav-contacts-item:hover .icon {
  fill: var(--accent);
}
/* секция героя */
.hero {
  background: var(--background);
  background-image: linear-gradient(
      to right,
      var(--background-hero),
      var(--background-hero)
    ),
    url("../images/hero_img.jpg");
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary);
}

.btn {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary);
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title);
}

/* преимущества */
.pas-list {
  display: flex;
}

.pas-item {
  width: calc((100% -90px) / 4);
  margin-right: 30px;
}

.pas-item:nth-child(4n) {
  margin-right: 0;
}

.pas-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title);
}
.pas-text {
  font-size: 14px;
  line-height: 1.71;
}

.pas-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  background-color: var(--background-team);
  margin-bottom: 30px;
}

.icon-svg {
  fill: var(--title);
}

/* работы */
.work-list {
  display: flex;
}

.work-item {
  width: calc((100% -60px) / 3);
  margin-right: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.work-item:nth-child(3n) {
  margin-right: 0;
}

.no-padding {
  padding-top: 0;
}
/* наша команда */
.background-team {
  background-color: var(--background-team);
  max-width: 1600px;
  margin: 0 auto;
}
.team-list {
  display: flex;
  text-align: center;
}

.team-item {
  width: calc((100% -90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}
.user-team {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title);
}

.team-footer {
  background-color: var(--secondary);
  padding-top: 30px;
  padding-bottom: 30px;
}

.user-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}
.team-list-icon {
  display: flex;
  list-style: none;
  padding-left: 32px;
  padding-right: 32px;
}

.team-item-icon + .team-item-icon {
  margin-left: 10px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.icon-link:hover {
  background-color: var(--accent);
}

.icon-social {
  fill: var(--icon-color);
}

.icon-link:hover .icon-social {
  fill: var(--secondary);
}
/* наши клиенты */
.clients-list {
  display: flex;
}

.clients-item {
  width: calc((100% -150px) / 6);
  margin-right: 30px;
  border: 1px solid var(--icon-color);

  border-radius: 4px;
}

.clients-item:nth-child(6n) {
  margin-right: 0;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
}

.icon-clients {
  fill: var(--icon-color);
}

.clients-item:hover {
  border: 1px solid var(--accent);
}

.clients-item:hover .icon-clients {
  fill: var(--accent);
}
/* подвал сайта */

.footer {
  background-color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  max-width: 1600px;
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
}

.contact {
  margin-right: 70px;
}
.address {
  margin-top: 20px;
  font-style: normal;
}

.address-link-contact {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--address-contact);
}
.address-item > .address-link-color {
  color: var(--secondary);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.accent-fr {
  color: var(--secondary);
}

.plea-text {
  margin-bottom: 20px;
  color: var(--secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.plea-list {
  display: flex;
}

.plea-item + .plea-item {
  margin-left: 10px;
}
.plea-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
}

.plea-link:hover {
  background-color: var(--accent);
}
.icon-plea-social {
  fill: var(--secondary);
}

/* Портфолио */

.portfolio-section {
  padding-top: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item {
  margin-right: 8px;
}

.filter-item:nth-child(5) {
  margin-right: 0;
}

.filter-btn {
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--secondary);
  background-color: var(--accent);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-footer {
  padding: 20px 24px;
}

.portfolio-item {
  width: 370px;
  margin: 15px;
  border-bottom: 1px solid var(--border-secondary-color);
  border-right: 1px solid var(--border-secondary-color);
  border-left: 1px solid var(--border-secondary-color);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.portfolio-title {
  margin-bottom: 4px;

  color: var(--title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primere-text);
}
